<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateNewUser</servlet-name>
        <servlet-class>p1.CreateNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositTransaction</servlet-name>
        <servlet-class>p1.DepositTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawTransaction</servlet-name>
        <servlet-class>p1.WithdrawTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferMoneyTransaction</servlet-name>
        <servlet-class>p1.TransferMoneyTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUser</servlet-name>
        <servlet-class>p1.ValidateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewUser</servlet-name>
        <url-pattern>/CreateNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositTransaction</servlet-name>
        <url-pattern>/DepositTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawTransaction</servlet-name>
        <url-pattern>/WithdrawTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferMoneyTransaction</servlet-name>
        <url-pattern>/TransferMoneyTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUser</servlet-name>
        <url-pattern>/ValidateUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
